 .ABOUT{

  background-image: url("../img/emilia-about.jpg");
  background-size:80%;
  background-position: right;
  background-repeat: no-repeat;
  font-family: 'Open Sans';
}

h1 .selector{
  text-align: right;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: auto;
  font-size: 15px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.85);
}

h1 .sociales{
  text-align: right;
  font-size: 15px;
}

h2 {
  font-size: 60px;
  font-weight: bold;;

}

p {
  color: rgb(26, 156, 136);
  font-size: 18px;

}

h6 {
  color: rgb(26, 156, 136);
}

div {

  padding-left: 20px;
}
